.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  background-color:#f08300;
  text-align:  center;
  max-width: 600px;
  width: 100%;
  margin-right: auto;
  margin-left : auto;
}
.title{
  color: white;
  font-family: cursive
}
button {
  padding: 5px 20px;
  background-color: #ffffff;
  border-style: none;
  font-family: serif;
  font-size: large;
}
.loading{
  color: rgb(0, 0, 0);
}
